/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #323232;
    color: white;
    font-family: DejaVu Sans Mono;
    font-size: 12px;
}

/* Each module */
#mode,
#network,
#memory,
#cpu,
#custom-keyboard-layout,
#wireplumber,
#pulseaudio,
#backlight,
#battery,
#clock,
#tray {
    padding: 0 5px;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network.disconnected {
    color: orange;
}

#pulseaudio.sink.muted{
    color: orange;
}

#pulseaudio.source.source-muted{
    color: orange;
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#window {
    padding: 0 5px;
}

#workspaces button {
    padding-left: 5px;
    padding-right: 5px;
    color: #888888;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#wireplumber.muted {
    color: orange;
}
